---
layout: default
title: Topics
---

	<head>
		<title>Topics</title>

		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	
	<h1>{{ page.title }}</h1>
	
	<p>Soon, but not yet.  For the moment a timeline of Italian opera and history is in development...</p>

	<p><iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1QUlFysW14zwxXBVeQsW2cFLl4ZSkbFliC2zvBf6ejfo&font=OldStandard&lang=en&initial_zoom=2&height=650' width='100%' height='650' frameborder='0'></iframe> </p>


  
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  <ul class="posts">
    <li>

	  {% for topic in site.topics %}
	    <li><span>{{ topic.date | date_to_string }}</span> » <a href="{{ topic.url }}" title="{{ topic.title }}">{{ topic.title }}</a></li>
	  {% endfor %}
<!--
      {% for topic in site.topics  %}
      <a href="{{ topic.url }}">{{ **topic.title** }}</a> » {{ topic.short-description }} <br>
           {% endfor %}
-->
          </li>

  </ul>
