<!DOCTYPE html>
	<html>
		
<section role="banner">
  <img src="/bookshelves_crop.jpg" />
</section>

		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		



		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">Biographical links</a></li>
	        		<li><a href="/blog">Readings</a></li>
	        		<li><a href="/topics">Topics</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rwilson@museum.vic.gov.au">email</a></li>
	        		<li><a href="https://github.com/timeteam">github.com/timeteam</a></li>
				</ul>
			</footer>
		</body>
	</html>
